future~=0.18.3
Pillow~=10.0.1
ipython~=8.16.1
pip~=23.2.1
build~=1.0.3
wheel~=0.41.2
dill~=0.3.7
numpy~=1.25.2
astropy~=5.3.4
pytz~=2023.3.post1
PyYAML~=6.0.1
numba~=0.58.0
llvmlite~=0.41.0
colorama~=0.4.6
Pygments~=2.16.1
psutil~=5.9.5
setuptools~=68.2.2
packaging~=23.2
matplotlib~=3.8.0
cycler~=0.12.1
six~=1.16.0
python-dateutil~=2.8.2
pyparsing~=3.1.1
multiprocess~=0.70.15
pyserial~=3.5
PyAutoGUI~=0.9.54
zwoasi~=0.1.0.1